.icon-row {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  /* border-bottom: var(--main-border); */
  /* padding-bottom: 25px; */
}
.icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon span {
  margin-top: 15px;
}
